@font-face {
  font-family: GothamRegular; /* Имя шрифта */
  src: url(../../../../../../assets/GothamPro/gothampro_medium.ttf); /* Путь к файлу со шрифтом  */
}

@font-face {
  font-family: GothamLight; /* Имя шрифта */
  src: url(../../../../../../assets/GothamPro/gothampro_light.ttf); /* Путь к файлу со шрифтом  */
}

.forms {
  width: 32%;
  height: 400px;
  overflow-y: auto;
  padding: 0 10px 5px 0;
}

.form {
  margin-bottom: 40px;
}

.form__input:not(:last-child) {
  margin-bottom: 20px;
}

.form__title {
  color: #4f4f4f;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  margin-bottom: 10px;
}

.form__input {
  word-break: break-word;
  color: #4f4f4f;
  font-family: GothamLight;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 24px;
}
@media only screen and (max-width: 1120px) {
  .forms {
    width: 100%;
    margin-top: 30px;
    height: auto;
    max-height: 400px;
  }
}
