@font-face {
  font-family: GothamRegular; /* Имя шрифта */
  src: url(../../../../../../assets/GothamPro/gothampro_medium.ttf); /* Путь к файлу со шрифтом  */
}

.master__main {
  width: 1070px;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  padding-top: 146px;
  padding-bottom: 40px;
  background-color: #fff;
}

.master {
  display: flex;
  justify-content: space-between;
}

.master.origin__document {
  justify-content: center;
}

.master.origin__audio {
  justify-content: space-between;
}

.master__title {
  text-transform: uppercase;
  padding-bottom: 46px;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 21px;
  color: #4686cc;
}
.original {
  width: 650px;
  padding: 5px;
}
.original.origin__document {
  width: 350px;
  padding: 5px;
}

.original.origin__audio {
  width: 650px;
  padding: 5px;
}

.original.origin__text {
  width: 500px;
}

.original__title {
  width: 100%;
  padding-bottom: 18px;
  text-align: center;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 21px;
  color: #676767;
}

.original__tusks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 95px;
}

.original__tusks.origin__document {
  width: 100%;
}

.original__tusks.origin__audio {
  width: 100%;
}

.tasks {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.tasks.origin__document {
  flex: 0 0 503%;
  max-width: 50%;
}

.tasks__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tasks__img {
  display: block;
  width: 33px;
  height: 34px;
}

.tasks__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.tasks__title {
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #4382c8;
  margin-top: 14px;
  margin-bottom: 17px;
}

.tasks__comment {
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: #7d7d7d;
}

.original__file {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 100%;
  height: 400px;
  background-color: #fff;
}
.original__file.origin__document {
  width: 100%;
  padding: 75px;
  height: 350px;
}

.original__file.origin__audio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.original__file.origin__text {
  height: 400px;
  padding: 30px;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  overflow: auto;
}

.original__file img {
  display: block;
  height: 100%;
  width: 100%;
}

.document__link {
  margin-top: 15px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.document__link:hover .link__text {
  color: #4382c8;
}

.document__link:hover .link__path {
  fill: #4382c8;
}

.link__text {
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  color: #676767;
}

.link__logo {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.link__logo svg {
  display: block;
  width: 100%;
  height: 100%;
}
.link__path {
  fill: #676767;
}

.btn__delete {
  cursor: pointer;
  margin-top: 15px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.btn__delete:hover .delete__text {
  color: #4382c8;
}

.btn__delete:hover .link__path {
  fill: #4382c8;
}

.delete__text {
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  color: #676767;
}

.delete__logo {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.delete__logo svg {
  display: block;
  width: 100%;
  height: 100%;
}
.link__path {
  fill: #676767;
}

.processed {
  width: 350px;
  padding: 5px;
}

.processed.origin__document {
  width: 350px;
  margin-left: 30px;
}

.processed.origin__audio {
  width: 350px;
  padding: 5px;
}

.processed.origin__text {
  width: 500px;
  padding: 5px;
}

.processed__file {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 100%;
  height: 400px;
  background-color: #fff;
}

.processed__textarea {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 100%;
  height: 400px;
  background-color: #fff;
  padding: 30px;
  border: none;
  resize: none;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.processed__textarea:focus {
  outline: 1px solid #4382c8;
}

.processed__textarea::placeholder {
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #adadad;
}

.processed__file.origin__document {
  height: 350px;
  padding: 75px;
}

.processed__file.origin__audio {
  width: 100%;
  height: 400px;
}
.processed__file.origin__text {
  display: block;
  padding: 30px;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  overflow: auto;
  color: #000000;
}

.processed__add {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  cursor: pointer;
}

.processed__add svg {
  display: block;
  width: 100px;
  height: 100px;
  font-weight: 100;
}

.processed__input {
  display: none;
}

.buttons {
  width: 100%;
  margin-top: 35px;
}

.buttons.origin__text {
  margin-top: 95px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.processed__button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  color: #5b5b5b;
  padding: 0 10px;
}

.processed__button.origin__text {
  width: 225px;
}

.processed__button::after {
  content: '';
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: block;
  width: 13px;
  height: 100%;
  background-color: #fff40c;
}

.processing__button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  padding: 0 30px;
  color: #5b5b5b;
  margin-bottom: 15px;
}

.processing__button.origin__text {
  margin-right: auto;
  width: 225px;
  margin-bottom: 0;
}

.processing__button::after {
  content: '';
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: block;
  width: 13px;
  height: 100%;
  background-color: #04c800;
}

.delete__button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 100%;
  color: #5b5b5b;
  height: 60px;
  text-transform: uppercase;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  padding: 0 15px;
}

.delete__button.origin__text {
  margin-right: auto;
  width: 225px;
}

.delete__button::after {
  content: '';
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: block;
  width: 13px;
  height: 100%;
  background-color: #ff0000;
}

.disabled {
  display: none;
}
