@font-face {
  font-family: GothamRegular; /* Имя шрифта */
  src: url(../../../../../assets/GothamPro/gothampro_medium.ttf); /* Путь к файлу со шрифтом */
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.add__btn {
  width: 268px;
  height: 40px;
  background-color: #4686cc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: GothamRegular;
  color: white;
  font-size: 22px;
  line-height: 40px;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
}

.error {
  margin-top: 20px;
  text-align: center;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 5px;
  color: rgb(255, 0, 0);
}
