.material {
  background-color: #fafafa;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.material__send {
  position: relative;
  width: 100%;
  z-index: 10;
  height: 100%;
  overflow-y: auto;
  padding-top: 50px;
  margin: 0 auto;
}
.containerSkeleton {
  padding-top: 110px;
  width: 900px;
  margin: 0 auto;
  max-width: 100%;
}

@media only screen and (max-width: 1000px) {
  .material {
    padding: 0 0 100px 0;
  }
  .material__send {
    padding: 30px 30px;
  }
  .containerSkeleton {
    padding: 0 30px 100px;
  }
}

@media only screen and (max-width: 940px) {
  .send {
    padding: 30px 20px 0;
  }
}
