@font-face {
  font-family: GothamRegular; /* Имя шрифта */
  src: url(../../../../../../assets/GothamPro/gothampro_medium.ttf); /* Путь к файлу со шрифтом  */
}

.forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
  width: 50%;
}

.form__title {
  color: #000;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin-right: 37px;
}

.form__input {
  width: 300px;
  padding: 11px;
  border: none;
  color: #000;
  height: 36px;
  background-color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.form__input:focus {
  outline: 1px solid #4686cc;
  background-color: #fff;
  color: #000;
  border-radius: 0;
}
.form__input::placeholder {
  color: #adadad;
  line-height: 11px;
  font-size: 11px;
}

.form__input--error {
  width: 74%;
  padding: 9px 15px;
  background-color: #fff;
  border: none;
  color: #000;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(249, 26, 26, 0.5);
  border-radius: 15px;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.form__input--error:focus {
  outline: 1px solid rgba(249, 26, 26, 0.5);
  background-color: #fff;
  color: #000;
  border-radius: 0;
}

@media only screen and (max-width: 1037px) {
  .forms {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
}
