@font-face {
  font-family: GothamRegular; /* Имя шрифта */
  src: url(../../../../../assets/GothamPro/gothampro_medium.ttf); /* Путь к файлу со шрифтом  */
}

.tags__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -17px;
}

.tags__container:not(:last-child) {
  margin-bottom: 32px;
}

.tags__container.modal {
  margin-bottom: 0;
}

.tags__subTitle {
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 22px;
}

.tags__item {
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 12px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background: #4686cc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
  color: #fff;
  transition: 0.05s ease-in;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  margin-bottom: 20px;
  margin-left: 17px;
}
