@font-face {
  font-family: GothamRegular; /* Имя шрифта */
  src: url(../../../../../../assets/GothamPro/gothampro_medium.ttf); /* Путь к файлу со шрифтом */
}

.form__dialog {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  /* backdrop-filter: blur(15px); */
  border: 2px dashed #9e9e9e;
  border-radius: 10px;
}

/* Инфо */
.fileShow {
  position: relative;
  z-index: 10;
  width: 700px;
  max-width: 100%;
  height: 540px;
  overflow: auto;
  padding: 40px 50px;
}

.oneFile {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #bed1e6;
}

.oneFile.imageShow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
}

.fileShow.imageShow {
  width: 73vw;
  max-width: 100%;
  height: auto;
  max-height: 94vh;
  overflow: scroll;
}

.oneFile.audio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #fff;
}

.fileShow.audio {
  width: 300px;
  max-width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.fileShow img {
  display: block;
  /* width: 100%;
  height: 100%; */
}

/* Группа файлов */

.mainGroup {
  padding: 45px 35px;
}

.flexContainer {
  width: 60vw;
  height: 59vh;
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.groupTitle {
  display: flex;
  align-items: center;
  margin: 0 0 45px 15px;
}

.groupTitleIcon {
  width: 28px;
  height: 35px;
}

.groupTitleText {
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 21px;
  color: #000;
  margin-left: 16px;
}

.block {
  position: relative;
  width: 100%;
  margin: 15px 0;
  padding-right: 20px;
  padding-left: 20px;
  flex: 0 0 25%;
  max-width: 25%;
}

.block.audio {
  flex: 0 0 25%;
  max-width: 25%;
}
.block.document {
  flex: 0 0 25%;
  max-width: 25%;
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: 0.2s linear;
  z-index: 1;
}

.cardFile {
  width: 100%;
  height: 184px;
  border-radius: 15px;
}

.cardFile.audio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135px;
}
.cardFile.image {
  display: flex;
}
.cardFile.document {
  padding: 50px;
}

.card img {
  border-radius: 15px;
  display: block;
  image-rendering: pixelated;
  height: auto;
  width: 100%;
  object-fit: contain;
}

.groupLogo {
  width: 100%;
  height: 100%;
  display: block;
}
