@font-face {
  font-family: GothamRegular; /* Имя шрифта */
  src: url(../../assets/GothamPro/gothampro_medium.ttf); /* Путь к файлу со шрифтом */
}

.view {
  display: flex;
  justify-content: center;
  padding: 80px 0 40px;
}

.view__container {
  width: 478px;
  background: #f1f1f1;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s ease;
  padding: 61px 92px 26px;
}

.socialHeader {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.5s ease;
  margin-bottom: 25px;
}

.socialTitle {
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #4686cc;
  margin-right: 20px;
}

.authIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.05s ease;
  cursor: pointer;
}

.authIcon:hover {
  transform: scale(1.1);
  transition: all 0.05s ease;
}

.authIcon:not(:last-child) {
  margin-right: 10px;
}

.registr {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
}

.registrLabel {
  text-transform: capitalize;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  color: #4686cc;
  padding-left: 15px;
  padding-bottom: 5px;
  display: block;
}

.registrInput {
  width: 100%;
  height: 35px;
  padding: 10px 19px;
  border: 1px solid #4686cc;
  border-radius: 20px;
  /* margin-bottom: 20px; */
  background-color: #fff;
  color: #4686cc;
  font-size: 13px;
}

.registrInput:focus {
  outline: none;
}

.registrInput:not(:last-child) {
  margin-bottom: 20px;
}

.registrInput::placeholder {
  color: rgba(70, 134, 204, 0.3);
  font-size: 15px;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
}

.registr button {
  display: block;
  text-transform: capitalize;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 9px 25px;
  border: none;
  margin: 7px auto 0;
  background-color: #4382c8;
  border-radius: 29px;
  transition: all 0.5s ease, top 0.5s ease 0.5s, height 0.5s ease 0.5s,
    background-color 0.5s ease 0.75s;
  cursor: pointer;
}

.registr button:hover {
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.5);
}

.registr button:active {
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.5);
}

.error {
  margin-bottom: 10px;
  text-align: left;
  font-family: GothamRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #0066ff;
}
