@font-face {
  font-family: GothamRegular; /* Имя шрифта */
  src: url(./assets/GothamPro/gothampro_medium.ttf); /* Путь к файлу со шрифтом  */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerSend {
  width: 930px;
  margin: 0 auto;
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: 100%;
}
